html, body {
     margin: 0;
     padding: 0;
     font-family: 'Neuton', serif;
 }

 .header, .footer {
     background: rgb(29, 29, 29);
     color: #e44d26;
     width: 100%; 
     display: flex; 
     justify-content: space-between; 
     align-items: center;
     padding: 10px 30px 10px 30px; 
     box-sizing: border-box;
 }

 .logo {
     width: 50px; 
     height: 50px;
 }

 .navbar a {
     text-decoration: none; 
     color: #e44d26; 
     margin: 10px;
     font-size: 1.1em;
 }

 .navbar a:hover {
     color:	#863C2B;
 }

 .banner {
     /*width: 80%;*/
     max-width: 800px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .empresa {
     background: #f1f1f1;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 30px;
 }

 .empresa .titulo { font-size: 2em; }
 .empresa p { font-size: 1.1em;}

 .sociales { display: flex; }

 .logo-tag {
     width: 65px;
     height: 65px;
 } 

 .sociales img {
     width: 30px;
     height: 30px;
     margin-left: 20px;
 }
 
 .logo-tag img {
     width: 100%;
     height: auto;
 }

 .texto {
     max-width: 800px;
     text-align: left;
 }

 .titulo {
     color: #E44D26;
     font-size: 30px;
     margin-top: 10px;
 }

 .nosotras {
     display: flex;
     justify-content: space-around;
     padding: 30px;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
 }

 .persona {
     display: flex;
     align-items: center;
 }

 .persona .nombre-y-puesto {
     margin-left: 70px;
     text-align: center;
     color: #E44D26;
     font-size: 1.1em;
 }
 
 .persona .avatar {
     width: 150px;
     height: 150px;
 }
 
 .avatar img {
     width: 100%;
     height: auto;
 }

 .avatar img:hover {
     filter: brightness(0.5);
 }

 .persona .nombre { font-weight: bold; }

 .contacto {
     display: flex;
     align-items: center;
 }

 .contacto img {
     width: 25px;
     height: 25px;
     margin-right: 25px;
 }
 
 .redes img {
     width: 25px;
     height: 25px;
     margin-left: 15px;
 }


 /*** RESPONSIVE PARA IPHONE ***/

 @media only screen and (max-width: 480px) {
     .banner {
         width: 100%;
     }

     .logo-tag, .sociales {
         display: none;
     }


 }







